html {
	scroll-behavior: smooth;		/* auto-scrolling becomes smooth */
}

section {
	scroll-margin-top: 70px;		/* don't allow the top section to draw below the navbar */
}

#events .accordion-button {
	font-weight: bold;
}
#events .accordion {
	--bs-accordion-btn-bg: #dbeafe;
	--bs-accordion-active-bg: #0d6efd;
	--bs-accordion-active-color: white;
	--bs-accordion-bg: #f8f9fa;
}